@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --secondary-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 16px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.hamburger {
    display: none;
}

.navbar a {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 2rem;
    transition: color .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

section {
    padding: 5rem 7% 2rem;
}

.home-content {
    max-width: 40rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: .5rem;
}

.home-content h1 {
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1 span {
    color: var(--main-color);
}

.home-content .text-animate h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color);
}

.home-content p {
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

.home-content h4 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.home-imgHover {
    position: relative;
    width: 100%; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background: url('./img/unnamed7.jpg') no-repeat center center/cover;
    border-radius: .5rem; /* Optional: to give the image rounded corners */
    overflow: hidden; /* Ensure the pseudo-element stays within the boundaries */
    transition: background 0.3s ease-in-out;
}

.home-imgHover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Initial state: transparent */
    transition: background 0.3s ease-in-out;
}

.home-imgHover:hover::before {
    background: rgba(0, 0, 0, 0.2); /* Darken the image slightly on hover */
}

.btn-box {
    display: flex;
    gap: 1rem;
}

.btn-box .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .8rem 1.5rem;
    background: var(--main-color);
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
    cursor: pointer;
    transition: background .3s;
}

.btn-box .btn:hover {
    background: var(--text-color);
    color: var(--main-color);
}

.medialinks {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.medialinks a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--main-color);
    border-radius: 50%;
    transition: background .3s;
}

.medialinks a:hover {
    background: var(--text-color);
}

.about,
.skills,
.education,
.contacts {
    background: var(--secondary-bg-color);
    padding: 4rem 7%;
    margin-bottom: 2rem;
    border-radius: .5rem;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.heading span {
    color: var(--main-color);
}

.about-content {
    text-align: center;
    margin-top: 2rem;
}

.about-img {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.btn-box.btns {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.educaton-column {
    flex: 1 1 45%;
}

.education-box {
    background: var(--bg-color);
    border-radius: .5rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    transition: background .3s;
}

.education-box:hover {
    background: var(--secondary-bg-color);
}

.education-box .year {
    font-size: 1rem;
    color: var(--main-color);
    margin-bottom: .5rem;
}

.education-box h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.education-box p {
    font-size: 1rem;
    line-height: 1.6;
}

.skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-column {
    flex: 1 1 45%;
}

.skills-box {
    background: var(--bg-color);
    border-radius: .5rem;
    padding: 1.5rem;
    transition: background .3s;
}

.skills-box:hover {
    background: var(--secondary-bg-color);
}

.skills-box .progress {
    margin-bottom: 1rem;
}

.skills-box .progress h3 {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.skills-box .progress .bar {
    width: 100%;
    height: 1rem;
    background: var(--main-color);
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}

.skills-box .progress .bar span {
    display: block;
    height: 100%;
    background: var(--secondary-bg-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 100%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 30%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 17%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
    width: 7%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 100%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 40%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 10%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span {
    width: 30%;
}

.contacts form {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
}

.contacts .input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.contacts .input-box .input-field {
    width: 49%;
    margin-bottom: 1rem;
}

.contacts .input-box .input-field input,
.contacts .textarea-field textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: .5rem;
}

.contacts .input-box .input-field input::placeholder,
.contacts .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contacts .btn-box {
    margin-top: 2rem;
}

.contacts .btn-box .btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
}

footer {
    padding: 2rem 7%;
    text-align: center;
}

footer span {
    color: var(--main-color);
}
